body {
    background-color: rgb(1255, 255, 176);
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: left;
    
}

h1 {
    color: rgb(165,137,193);
    text-align: center;
    border: 5px white;
}
h2 {
    font-size: 20x;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 20px;
    font: italic
}
h3 {
    font-size: 20x;
    color: rgb(255, 255, 255);
    text-align: left;
}
h4 {
    font-size: 30x;
    color: rgb(255, 255, 255);
    text-align: left;
}
#imagem-principal {
    padding: 10px;
    margin: 0;
    width: 10%;
    border: 5px groove paleturquoise;

}
ul {
    display: inline-block;
    vertical-align: left;
    width: 25%;
    margin-left: 15;
}
.texto-um {
    background-color: rgb(72, 181, 163);
    padding: 20px;
    font-style: italic

    }
.texto-inicial{
    background-color: rgb(117, 137, 191);
}